@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

html{
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: table;
    margin: auto;
}

body{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: 600px;
    background-color: white;
}

nav .navbar-brand{
    font-family: 'Nabla', cursive;
}

footer{
    text-align: center;
    padding-top: 4em;
    padding-bottom: 3em;
    width: 80%;
    margin: auto;
}

.TrailforksWidgetMap{
    margin: auto;
    padding-top: 2em;
}

.TrailforksTrailList{
    height: 500px;
    width: auto;
    overflow: auto;
    margin: auto;
}

#accordionTrail{
    margin: auto;
    width: 350px;
    background-color: rgb(53, 52, 52);
}

p{
    text-align: center;
}

#sevenDay{
    width: 100%;
    margin: auto;
    overflow: scroll;
}

#tableWrapper{
    padding-bottom: 10px;
    width: 85%;
    margin: auto;
    overflow: scroll;
    overflow-y: hidden;
    margin-top: -2em;
}

#sevenDay td{
    text-align: center;
    width: 4em;
}

#currentDay th{
    width: 50%;
    padding-bottom: 1.4em;
}

#currentDay img{
    min-width: 100%;
    height: auto;
    width: auto;
    vertical-align: top;
}

#currentDay{
    width: 100%;
}

#currentDay h2{
    font-style: italic;
}

#today{
    padding-top: 1em;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.mapWrapper{
    width: 75%;
    overflow: hidden;
    margin: auto;
}

#key{
    border: solid;
    width: 350px;
    margin: auto;
}

#key td{
    border: solid;
}

#ratingKey{
    width: 70px;
}

.TrailforksWidgetRoute{
    margin: auto;
}

#routeWrapper{
    scale: 90%;
}

#routesTop{
    padding-top: 2.5em;
    width: 80%;
    margin: auto;
    padding-bottom: 1em;
    text-align: center;
}

#routeDesc{
    text-align: left;
    width: 90%;
    margin: auto;
}

#routeDesc h2{
    text-decoration: underline;
}

#routeDesc h3{
    margin-bottom: 0;
    margin-top: 1em;
}

#routeDesc iframe{
    scale: 90%;
}
