@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

nav .navbar-brand{
    font-family: 'Nabla', 'Impact';
}

body{
    max-width: 700px;
}

footer{
    text-align: center;
    padding-top: 4em;
    padding-bottom: 3em;
    width: 80%;
    margin: auto;
}

.TrailforksWidgetMap{
    margin: auto;
    padding-top: 2em;
}

.TrailforksTrailList{
    height: 500px;
    width: auto;
    overflow: auto;
    margin: auto;
}

#accordionTrail{
    margin: auto;
    width: 350px;
    background-color: rgb(53, 52, 52);
}

p{
    text-align: center;
}

#sevenDay{
    width: 100%;
    margin: auto;
    overflow: scroll;
}

#tableWrapper{
    padding-bottom: 10px;
    width: 85%;
    margin: auto;
    overflow: scroll;
}

#sevenDay td{
    text-align: center;
    width: 4em;
}

#currentDay th{
    width: 50%;
    padding-bottom: 1em;
}

#currentDay img{
    min-width: 100%;
    height: auto;
    width: auto;
    vertical-align: top;

}

#currentDay{
    width: 100%;
}

#today{
    padding-top: 1em;
    width: 75%;
    margin: auto;
    overflow: scroll;
}

.mapWrapper{
    width: 75%;
    overflow: hidden;
    margin: auto;
}
